/* Global font settings */ 
body {
    font-family: 'Arial', sans-serif;
    background-color: #2b2b2b;
    color: #f0f0f0;
  }
  
  /* Title styling */
  h1 {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  /* Search form styling */
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #444444;
  }
  
  .search-input::placeholder {
    color: #bbbbbb;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #e68900;
  }
  
  /* Pokemon Grid */
  .pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Pokemon Card */
  .pokemon-card {
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .pokemon-card:hover {
    transform: scale(1.05);
  }
  
  .pokemon-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .pokemon-card h3 {
    font-size: 18px;
    color: #f0f0f0;
    margin-top: 10px;
  }
  
  /* Suggestions list styling */
  .suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }
  
  .suggestions-list li {
    padding: 10px;
    background-color: #444444;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestions-list li:hover {
    background-color: #ff9800;
    color: #ffffff;
  }
  
  .suggestions-list li:active {
    background-color: #e68900;
  } 